.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 8%;
  }

  .title{
    text-align: center;
    color:burlywood ;
    margin-bottom: 40px;
    margin-top: 30px;
  }
  
  .link-projects-git {
    width: 30%;
    max-width: 300px;
    text-align: center;
    text-decoration: none;
    color: burlywood;
    font-size: 18px;
  }
  
  .link-projects-git img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .link-projects-git img:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }
  
  @media (max-width: 768px) {
    .link-projects-git {
      width: 100%;
    }
  }
  