.buttonsTop{
    display: flex;
    flex-direction: row;
  justify-content: flex-start;
 margin-left:50px;
 margin-top: 10px;
gap:2px;
   width: 90px;
   height: 80px;

  
  color: black;

}




.projects{

   

    background: linear-gradient(90deg, #b38b6d 2.62%, #965a3e 93.38%);
margin-bottom: 20px;
border-radius: 14px;
margin-top: 10px;
padding: 12px;
text-decoration: none;
text-align: center;


font-size: 10px;

text-transform: uppercase;
border: none;
cursor: pointer;
   
}

.myResume{

   

    background: linear-gradient(90deg, #b38b6d 2.62%, #965a3e 93.38%);
margin-bottom: 20px;
border-radius: 14px;
margin-left: 20px;
margin-top: 10px;
padding: 12px;
text-decoration: none;
text-align: center;


font-size: 10px;

text-transform: uppercase;
border: none;
cursor: pointer;
   
}

.talkToMe{


margin-left: 20px;
margin-top: 10px;
background: linear-gradient(90deg, #b38b6d 2.62%, #965a3e 93.38%);
margin-bottom: 20px;
border-radius: 14px;
padding: 12px;
text-decoration: none;
text-align: center;

font-size: 10px;
text-transform: uppercase;
border: none;
cursor: pointer;

}

.Flavio{

    margin-left: 20px;
margin-top: 10px;
background: linear-gradient(90deg, #b38b6d 2.62%, #965a3e 93.38%);
margin-bottom: 20px;
border-radius: 14px;
padding: 12px;
text-decoration: none;
text-align: center;
color:black;
font-size: 10px;
text-transform: uppercase;
border: none;
cursor: pointer;
}

@media (min-width: 768px){

 .buttonsTop {display: flex;
    flex-direction: row;
 margin-left: 40%;
 margin-top: 10px;
gap:20px;
   width: 100%;

  
  color: black;}






.projects{

   

    background: linear-gradient(90deg, #b38b6d 2.62%, #965a3e 93.38%);
margin-bottom: 20px;
border-radius: 24px;
margin-top: 10px;
padding: 12px;
text-decoration: none;
text-align: center;
color: black;

font-size: 15px;

text-transform: uppercase;
border: none;
cursor: pointer;
   
}

.myResume{

   

    background: linear-gradient(90deg, #b38b6d 2.62%, #965a3e 93.38%);
margin-bottom: 20px;
border-radius: 24px;
margin-left: 20px;
margin-top: 10px;
padding: 12px;
text-decoration: none;
text-align: center;
color: black;


font-size: 15px;

text-transform: uppercase;
border: none;
cursor: pointer;
   
}

.talkToMe{


margin-left: 20px;
margin-top: 10px;
background: linear-gradient(90deg, #b38b6d 2.62%, #965a3e 93.38%);
margin-bottom: 20px;
border-radius: 24px;
padding: 12px;
text-decoration: none;
text-align: center;
color:black;
font-size: 15px;
text-transform: uppercase;
border: none;
cursor: pointer;

}

.Flavio{

    margin-left: 20px;
margin-top: 10px;
background: linear-gradient(90deg, #b38b6d 2.62%, #965a3e 93.38%);
margin-bottom: 20px;
border-radius: 24px;
padding: 12px;
text-decoration: none;
text-align: center;
color:black;
font-size: 15px;
text-transform: uppercase;
border: none;
cursor: pointer;

}}