.header {
    display: flex;
  justify-content: flex-end;
  flex-direction: column;
 
    gap: 34px;
    margin-bottom: 10%;
    margin-top: 30px;
    margin-left: 10%;
    color:white;
  
    img {
      border-radius: 24px;
    }
  
    h1 {
      font-weight: 600;
      font-size: 28px;
      line-height: 42px;
    
    }
  
    h2 {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
    
    }
  
    @media (min-width: 768px) {
      flex-direction: row-reverse;
      align-items: center;
      gap: 24px;
  
      h1 {
        font-size: 36px;
        line-height: 54px;
      }
  
      h2 {
        font-size: 30px;
  
        line-height: 45px;
        font-style: normal;
       
      }
  
      Image {
        border-radius: 100%;
        border: 2px solid white;
      }


    }
}