.btn-primary{

    display: flex;
    flex-direction: column;
    align-items: center;
  margin-left: 28%;
  margin-top: 10%;

    background: linear-gradient(90deg, #b38b6d 2.62%, #965a3e 93.38%);
 margin-bottom: 30px;
    border-radius: 24px;
    width: 200px;
    height: 70px;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    color: var(--text-primary);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    border: none;
  }


  @media (min-width: 768px){

    .btn-primary{

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 40%;
        margin-top: 5%;
        background: linear-gradient(90deg, #b38b6d 2.62%, #965a3e 93.38%);
     margin-bottom: 30px;
        border-radius: 24px;
        width: 200px;
        height: 70px;
        padding: 12px;
        text-decoration: none;
        text-align: center;
        color: var(--text-primary);
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        border: none;
      }
    
    
  }